<nav class="navbar">
    <div class="navbar-inner">
        <a href="#" class="brand active" data-action="home">Treinamentos</a>
        <ul class="nav">
            <li><a href="#" data-action="instrutores">Instrutores</a></li>
        </ul>
    </div>
</nav>

<div id="page">
</div>

<script id="turmasTp" type="text/html">
    <section>
        <hgroup>
            <h1>Turmas</h1>
        </hgroup>
        <table class="table">
            <thead>
                <tr>
                    <th>Treinamento</th>
                    <th>Período</th>
                    <th>Instrutor</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <a href="#" data-action="new">Nova Turma</a>
    </section>
</script>
<script id="turmaTp" type="text/html">
    <td><%= data.nomeTreinamento %></td>
    <td><%= data.periodo %></td>
    <td><%= data.nomeInstrutor %></td>
</script>
<script id="formularioTurmaTp" type="text/html">
    <section>
        <hgroup>
            <h1>Turmas</h1>
        </hgroup>
        <form>
            <legend>Cadastro de Turma</legend>
           <div>
                <label>Treinamento</label>
                <select data-mode="current" name="codigoTreinamento" value="" />
                <input data-mode="alt" name="nomeNovoTreinamento" placeholder="Nome do Treinamento" type="text"/>
                <a href="#" data-action="alternate-input-mode" data-alt-text="Selecionar Treinamento Existente">Criar Novo Treinamento</a>
            </div>
            <div>
                <label>Instrutor</label>
                <select data-mode="current" name="codigoInstrutor" value="" />
                <input data-mode="alt" name="nomeNovoInstrutor" placeholder="Nome do Instrutor" type="text"/>
                <a href="#" data-action="alternate-input-mode" data-alt-text="Selecionar Instrutor Existente">Criar Novo Instrutor</a>
            </div>
            <label>Início</label>
            <input type="date" name="inicio" value="" />
            <label>Fim</label>
            <input type="date" name="fim" value="" />
            <div class="form-actions">
                <button type="button" class="btn btn-primary" data-action="submit">Salvar</button>
                <button type="button" class="btn" data-action="cancel">Cancelar</button>            
            </div>
        </form>
    </section>
</script>
<script id="instrutoresTp" type="text/html">
    <section>
        <hgroup>
            <h1>Instrutores</h1>
        </hgroup>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <a href="#" data-action="new">Novo Instrutor</a>
    </section>
</script>
<script id="instrutorTp" type="text/html">
    <td><%= nome %></td>
    <td><a href="#" data-action="delete">Excluir</a></td>
</script>
<script id="formularioInstrutorTp" type="text/html">
    <section>
        <hgroup>
            <h1>Instrutores</h1>
        </hgroup>
        <form>
            <legend>Cadastro de Instrutor</legend>
            <label>Nome</label>
            <input type="text" name="nome" />
            <div class="form-actions">
                <button type="button" class="btn btn-primary" data-action="submit">Salvar</button>
                <button type="button" class="btn" data-action="cancel">Cancelar</button>  
            </div>
        </form>
    </section>
</script>
<script id="opcaoComboTp" type="text/html">
    <option value="<%= valor %>"><%= nome %></option>
</script>

<script id="turmas" type="text/javascript">
    @Html.Raw(@Html.Action("TurmasBootstrap"))
</script>
<script id="treinamentos" type="text/javascript">
    @Html.Raw(@Html.Action("TreinamentosBootstrap"))
</script>
<script id="instrutores" type="text/javascript">
    @Html.Raw(@Html.Action("InstrutoresBootstrap"))
</script>

@Scripts.Render("~/bundles/app")